@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply bg-gradient-to-b from-slate-200 to-gray-300 text-zinc-800 transition-colors duration-1000 dark:from-zinc-800 dark:to-zinc-900 dark:text-slate-200;
}

.react-time-picker__wrapper {
  border: none;
}
