@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-slate-200 text-zinc-800;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.react-time-picker__wrapper {
  border: none;
}
